<h2 style="text-align: center">INSPIRATIONAL:</h2>

<div class="container col-container">
  <div class="row">
    <div class="col-md-4 col">
      <div class="card" id="card">
        <img
          src="../../assets/Pinterest.jpeg"
          alt="Denim Jeans"
          style="width: 100%"
        />
        <b>Title:</b>
        <h6>It only happens in The Movies</h6>
        <p class="price">$19.99</p>
        <b>Author:</b><a href="https://www.kobo.com/us/en/author/holly-bourne">Holly Bourne</a>
        <p>
          "From award-winning author Holly Bourne comes a clever
          ,deconstructed rom-com that proves that in real.."
        </p>
        <p><a href="https://www.kobo.com/us/en/ebook/it-only-happens-in-the-movies-4">Read More..</a></p>
      </div>
    </div>
    <div class="col-md-4 col">
      <div class="card">
        <img
          src="../../assets/about.jpeg"
          alt="Denim Jeans"
          style="width: 100%"
        />
        <b>Title:</b>
        <h6>Why am i not talking to white people about race</h6>
        <p class="price">$12.29</p>
        <b>Author:</b><a href="https://www.kobo.com/us/en/author/reni-eddo-lodge">Reni Eddo-Lodge</a>
        <p>"Every voice raised aganist racisim chips away
          at its power..This is a Book that sparked national conversation."

        </p>
        <p><a href="https://www.kobo.com/us/en/ebook/why-i-m-no-longer-talking-to-white-people-about-race">Read More</a></p>
      </div>
    </div>
    <div class="col-md-4 col">
      <div class="card" id="card">
        <img
          src="../../assets/come.jpeg"
          alt="Denim Jeans"
          style="width: 100%"
        />
        <b>Title:</b>
        <h6>Come With Me</h6>
        <p class="price">$30.99</p>
        <b>Author:</b><a href="https://www.kobo.com/us/en/author/helen-schulman">Helen Schulman</a>
        <p>
          "This Beautiful life comes another griping potent.."
        </p>
        <p><a href="https://www.kobo.com/us/en/audiobook/come-with-me-14">Read More</a></p>
      </div>
    </div>

    <h2 style="text-align: center">POETRIC BASED STORIES:</h2>

    <div class="row">
      <div class="col-md-4 col">
        <div class="card" id="card">
          <img
            src="../../assets/bed.jpeg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <b>Title:</b>
          <h6>Make Your Bed</h6>
          <p class="price">$12.29</p>
          <p>
            "Based on a Navy SEAL's inspiring graduation speech The
             author addressed a graduating class of the University of Texas.."
          </p>
          
          <p><a href="https://www.kobo.com/us/en/ebook/make-your-bed-1">Read More..</a></p>
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="card" id="card">
          <img
            src="../../assets/him.jpeg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <b>Title:</b>
          <h6>The Reminders of Him</h6>
          <p class="price">$30.99</p>
          <b>Author:</b><a href="https://www.kobo.com/us/en/author/colleen-hoover">Colleen Hoover</a>
          <p>
            "The Author mainly writes about her past love relationship
            reflecting daily and reminds her the moments with her lover"
          </p>
          <p><a href="https://www.kobo.com/us/en/audiobook/all-your-perfects-1">Read More..</a></p>
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="card" id="card">
          <img
            src="../../assets/stars.jpeg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <b>Title</b>
          <h6>When The Stars Wrote Back</h6>
          <p class="price">$8.99</p>
          <b>Author:</b><a href="https://www.kobo.com/us/en/author/trista-mateer">Trista Mateer</a>
          <p>
            "In Vein of Poetry,The author took a compilation of short powerful
            poems which shines beauty and insight about relationship..."
          </p>
          <p><a href="https://www.kobo.com/us/en/audiobook/when-the-stars-wrote-back-1">Read More..</a></p>
        </div>
      </div>

      <h2 style="text-align: center">BEST RECOMMENDED:</h2>
      <div class="row">
        <div class="col-md-4 col">
          <div class="card" id="card">
            <img
              src="../../assets/bb.jpeg"
              alt="Denim Jeans"
              style="width: 100%"
            />
            <b>Title</b>
            <h6>Broken Things</h6>
            <p class="price">$14.99</p>
            <p>
              "Its been five years since Summer Marks was brutally
              murdered in the woods.Everyone thinks Mia and Brynn killed their.."
            </p>
            <p><a href="https://www.kobo.com/us/en/ebook/broken-things-6">Read More.</a></p>
          </div>
        </div>
        <div class="col-md-4 col">
          <div class="card">
            <img
              src="../../assets/bla.jpeg"
              alt="Denim Jeans"
              style="width: 100%"
            />
            <b>Title:</b>
            <h6>Blood Drama </h6>
            <p class="price">$6.99</p>
            <b>Author:</b><a href="https://www.kobo.com/us/en/author/christopher-meeks">Christopher Meeks</a>
            <p>
              "Everyone has bad day.When he stops at a local coffee shop in
              the lobby of a bank to apply for a job,the proverbial organic matter hits the fan.."
            </p>
            <p><a href="https://www.kobo.com/us/en/ebook/blood-drama">Read More..</a></p>
          </div>
        </div>
        <div class="col-md-4 col">
          <div class="card">
            <img
              src="../../assets/Goodreads.png"
              alt="Denim Jeans"
              style="width: 100%"
            />
            <b>Title:</b>
            <h6>Twin Crowns</h6>
            <p class="price">$11.99</p>
            <b>Author:</b><a href="https://www.kobo.com/us/en/author/catherine-doyle">Catherine Doyle </a>
            <p>
              "A high-stakes fantasy rom-com about twin princesses separated at birth one 
              raised as the crown princess and the other taken as an infant and raised to kidnap her sister,steal the 
              crown..."
            </p>
            <p><a href="https://www.kobo.com/us/en/ebook/twin-crowns-1">Read More..</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
