<div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a href="../category/category.component.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
      <h6>Don't have an account??<a routerLink="/sign"></a></h6>
    </form>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
